<div class="container">
    <h1>Voxy Word Counter</h1>
    <textarea id="myWords" placeholder="Enter your text here..."></textarea>
    <div id="empty-error" class="bar-error-hidden">The text is empty!</div>
    <button type="button"  onclick="postMyWords();">Submit</button>
    <div class="output row">
        <div>Characters: <span id="characterCount"> </span> </div>
        <div>Words: <span id="wordCount"> </span></div>
    </div>
    <div class="output row">
        <div>Sentences: <span id="sentenceCount"> </span></div>
        <div>Paragraphs: <span id="paragraphCount"> </span></div>
    </div>
</div>

<script src="script.js"></script>
<link rel="stylesheet" href="style.css">